
header {
    height: 500px;
}

header > div.container {

    display: flex;
    justify-content: center;
    align-items: center;
}
header > div.container > div.img-bgimage {
    
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 100vw;
    height: 50vh;
    background-image: url("image/tecnologia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1.5px solid aqua;
    box-shadow: 1px 2px 5px black;
}

.business {
    
    height: 100vh;
    width: 100%;
    color: #FFFFFF;
    padding: 15px;
    text-shadow: 1px 1px 1px black;
    background-color: black;
    background-image: url("image/cliente.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.business > p > a {

    border: 1.5px solid black;
    padding: 5px;
    text-decoration: none;
    text-shadow: none;
    color: #000;
    border-radius: 2px;
    font-size: 1.4em;
    background-color: #585757cf;
}

.business > p > a:hover {

    border: 1.5px solid black;
    padding: 5px;
    text-decoration: none;
    text-shadow: none;
    background-color: #0957ff;
    color: #FFF;
    border-radius: 2px;
    transition: .5s;
}
