body {
    
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

header {

    height: 540px;
}


header > .container > .img-bgimage-service {
    
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    width: 100vw;
    height: 50vh;
    background-image: url("image/services-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1.5px solid aqua;
    box-shadow: 1px 2px 5px black;
    opacity: 0;
    animation: fadeInSite 1s ease-out forwards;
    animation-delay: 0.1s;
}

main > h1 {

    margin-left: 20px;
}

main > h1 > span {

    color: #0957ff;
}

main > h2 {

     margin-left: 20px;
}

main > h2  > span {

    color: #0957ff;
}
.container {

    display: flex;
    justify-content: center;
    align-items: center;
}
iframe {

    border: 1.5px solid aqua;
    box-shadow: 1px 2px 5px black;
}

main > p > a {

    margin-left: 20px;
    font-size: 1.5em;
    border: 2px solid gray;
    padding: 5px;
    text-decoration: none;
    color: #a4a4a4;
    border-radius: 2px;
}

main > p > a:hover {

    background-color: #0957ff;
    margin-left: 20px;
    font-size: 1.5em;
    border: 2px solid black;
    padding: 5px;
    text-decoration: none;
    color: #FFF;
    border-radius: 2px;
    transition: .5s;
}