@charset "UTF-8";

/* Mobile First */

* {

    font-family: Arial, Helvetica, sans-serif;
}

body {
    
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

header {

    background-color: #0957ff;
    height: 650px;
}

header > nav {

    text-align: right;
    padding: 8px;
}

header > nav > a {

    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
}


header > nav > a:hover {

    text-decoration: none;
    color: #3abefa;
    margin-left: 20px;
    margin-right: 20px;
    transition: .3s;
}

header > h1 {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px black;
}

header > h1 > span {

    color: aqua;
    text-shadow: 1px 1px 1px black;
}

header > p {

    color: #FFFFFF;
}

header > h1, p {

    margin-left: 10px;
}

.img-parallax {

    margin-top: 20px;
    margin-left: 8.1vw;
    width: 80vw;
    height: 50vh;
    background-image: url("image/tecnologia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 1.5px solid aqua;
    box-shadow: 1px 2px 5px black;
}

main {

    overflow-x: hidden;
}

main > p {

    margin-top: 60px;
}

main > p > a {

    border: 2px solid gray;
    padding: 5px;
    text-decoration: none;
    color: #a4a4a4;
    border-radius: 2px;
}

main > p > a:hover {

    border: 2px solid gray;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0957ff;
    transition: .3s;
}

.business {

    height: 50vh;
    width: 87vw;
    background-color: black;
    background-image: url("image/cliente.jpg");
    background-size: cover;
    color: #FFFFFF;
    padding: 15px;
    text-shadow: 2px 2px 2px black;
}
