@charset "UTF-8";

/* Mobile First */

* {

    font-family: Arial, Helvetica, sans-serif;
}

body {
    
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

header {

    background-color: #0957ff;
    height: 700px;
    padding-top: 15px;
}

header > nav {

    text-align: right;
    
}

header > nav > a {

    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
}


header > nav > a:hover {

    text-decoration: none;
    color: #3abefa;
    margin-left: 20px;
    margin-right: 20px;
    transition: .3s;
}

header > h1 {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px black;
}

header > h1 > span {

    color: aqua;
    text-shadow: 1px 1px 1px black;
}

header > p {

    color: #FFFFFF;
}

header > h1, p {

    margin-left: 10px;
}

header > div.container {

    display: flex;
    justify-content: center;
    align-items: center;
}
header > div.container > div.img-parallax {

    margin-top: 20px;
    width: 80vw;
    height: 50vh;
    background-image: url("image/tecnologia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 1.5px solid aqua;
    box-shadow: 1px 2px 5px black;
}

main {

    overflow-x: hidden;
}

main > p {

    margin-top: 60px;
    font-size: 1.5em;
}

main > p > a {

    border: 2px solid gray;
    padding: 5px;
    text-decoration: none;
    color: #a4a4a4;
    border-radius: 2px;
}

main > p > a:hover {

    border: 2px solid gray;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0957ff;
    transition: .5s;
}

main > h1 {

    margin-left: 20px;
}

main > h1 > span {

    color: #0957ff;
}

main > section.why-choose > h1 {

    margin-left: 20px;
}

main > section.why-choose > h1 > span {

    color: #0957ff;
}

.business {

    height: 400px;
    width: 250px;
    color: #FFFFFF;
    padding: 15px;
    text-shadow: 1px 1px 1px black;
    background-color: black;
    background-image: url("image/cliente.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.business > p > a {

    border: 1.5px solid black;
    padding: 5px;
    text-decoration: none;
    text-shadow: none;
    color: #000;
    border-radius: 2px;
    font-size: 1.4em;
    background-color: #585757cf;
}

.business > p > a:hover {

    border: 1.5px solid black;
    padding: 5px;
    text-decoration: none;
    text-shadow: none;
    background-color: #0957ff;
    color: #FFF;
    border-radius: 2px;
    transition: .5s;
}

.saiba-mais > a {

    border: 2px solid gray;
    padding: 5px;
    text-decoration: none;
    color: #a4a4a4;
    border-radius: 2px;
    font-size: 1.4em;
}

.saiba-mais > a:hover {

    border: 2px solid gray;
    padding: 5px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #0957ff;
    border-radius: 2px;
    transition: .5s;
}


footer {

    margin-top: 50px;
    background-color: #0957ff;
    color:#FFF;
    height: 170px;
    padding: 15px;
}